@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sk-Modernist";
  src: url("./fonts/Sk-Modernist-Regular.otf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  
}

bo

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
