@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sk-Modernist";
  src: url("./fonts/Sk-Modernist-Regular.otf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.message-bubble-in {
  border-radius: 0 15px 15px 15px !important;
  margin-left: 0.5rem;
}

.message-bubble-out {
  border-radius: 15px 0 15px 15px !important;
  margin-left: auto;
  margin-right: 0;
}
@media (prefers-color-scheme: dark) {
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}